[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/dvanic/hugo-coder.git
[submodule "themes/hugo-apero"]
	path = themes/hugo-apero
	url = git@github.com:hugo-apero/hugo-apero.git
